@import "tailwindcss";

/* Global structural baseline */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
